@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700&subset=latin,cyrillic);  //font-family: 'Open Sans', sans-serif;
@import url(http://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic&subset=cyrillic); // font-family: 'Noto Sans', sans-serif;

body,
html{
	margin: 0;
	padding: 0;
	font: 400 15px/24px 'Noto Sans', sans-serif;
	color: #888;
}

.b-clear {
  clear: both;
}
.b-clear:before,
.b-clear:after {
  content: '';
  display: table;
}
.b-clear:after {
  clear: both;
}

.b-h1{
	 font: 700 72px/72px 'Noto Sans', sans-serif;
	 color: #07080a;
	 margin: 0;
	 &_lh{
	 	line-height: 84px;
	 	max-width: 300px;
	 	margin-top: -20px;
		display: block;
	 }
}


.b-title-uppercase{
	text-transform: uppercase;
	color: #000;
	font-size: 18px;

}

.b-text_center{
	text-align: center;
}

ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

.b-wrapper{
	position: relative;
	width: 100%;
}

.b-container{
	width: 1170px;
	margin: 0 auto;
	position: relative;
	z-index: 3;
}

.b-btn{
	display: inline-block;
	border: 4px solid #fff;
	padding: 11px 48px;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font: 700 14px/14px 'Noto Sans', sans-serif;
	&:hover{
		background: #fff;
		color: #000;
	}
	&_big{
		padding: 22px 45px;
		font-size: 18px;

	}
	&_purple{
		border-color: #5f6fae;
		color: #5f6fae;
		text-align: center;
		cursor: pointer;
		background: #fff;
		&:hover{
			background: #5f6fae;
			color: #fff;
		}
	}
	
}

.b-float{
	&_right{
		float: right;
	}
	&_left{
		float: left;
	}
}

// Фиксированная шапка 

.b-header{
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	background: #fff;
	height: 84px;
	z-index: 10;
	border-top: 1px solid #d5d4d4;
}

.b-menu{
	float: left;
	margin: 29px 0 0;
	padding: 0;
	&__item{
		display: inline-block;
		vertical-align: top;
		margin: 0 50px 0 0;
		&>a{
			text-decoration: none;
			color: #000;
			text-transform: uppercase;
		}
		&.active{
			&>a{
				font-weight: 700;
			}
			&:hover{
				&>a{
					text-decoration: none;
				}
			}
		}
		&:hover{
			&>a{
				text-decoration: underline;
			}
		}
	}
}

.b-telephone{
	float: left;
	display: block;
	color: #000;
	font-size: 18px;
	font-weight: 700;
	margin: 26px 0 0;
}

.b-social{
	display: block;
	float: left;
	margin: 18px 0 0 50px;
	&__icon{
		display: inline-block;
		vertical-align: top;
		width: 40px;
		height: 40px;
		border-radius: 45px;
		background-color: #030608;
		text-align: center;
		line-height: 40px;
		font-size: 21px;
		font-weight: 700;
		color: #fff;
		text-decoration: none;
		border: 3px solid #030608;
		margin: 0 6px 0 0;
		&:hover{
			background-color: #fff;
			color: #000;
		} 
		&_t{
			background: #000 url('../images/twitter-white-s.png') no-repeat center;
			&:hover{
				background-image: url('../images/twitter-black-s.png');
			}
		}
	}
}

.b-btn-blog{
	background: #1e1e1e;
	display: block;
	padding: 17px 37px;
	color: #fff;
	text-transform: uppercase;
	font-size: 14px;
	line-height: 14px;
	float: left;
	border-radius: 45px;
	text-decoration: none;
	font-weight: bold;
	margin: 18px 0 0 45px;
}

.b-news{
	display: none;
	position: absolute;
	top: -85px;
	right: 0;
	width: 370px;
	height: 20px;
	padding: 5px 95px 14px 15px;
	border: 1px solid #d5d4d4;
	border-bottom: 5px solid #efc75e;
	background: #fff;
	&:after{
		content: "";
		display: block;
		position: absolute;
		bottom: -17px;
		right: 40px;
		width: 27px;
		height: 13px;
		background: url('../images/triangle.png')no-repeat;
	}
	&__close{
		display: block;
		position: absolute;
		right: 10px;
		top: 10px;
		background: url('../images/close.png') no-repeat;
		width: 19px;
		height: 18px;
		cursor: pointer;
	}
	&__title{
		display: inline-block;
		margin-left: 15px;
		color: #1e1e1e;
		line-height: 17px;
		text-decoration: none;
		border-bottom: 1px solid transparent;
		&:hover{
			border-bottom-color: #1e1e1e;
		}
	}
	&.active{
		display: block;
	}

}

///

// Первый блок

.b-first-box{
	width: 100%;
	min-width: 1170px;
	padding: 90px 0;
	background: #1e1e1e;
	color: #fff; 
	text-align: center;
	position: relative;
	z-index: 0;
	& .b-h1{
		color: #fff;
	}
	&__info{
		font: 700 28px/38px 'Noto Sans', sans-serif;
		margin: 0 auto 86px;
		max-width: 850px;
	}
}

.b-logo{
	display: inline-block;
	width: 268px;
	height: 103px;
	background: url('../images/logo.png') no-repeat;
	margin: 0 0 77px;
}

.b-hr_small{
	display: inline-block;
	height: 5px;
	width: 150px;
	background: #fff;
	margin: 79px 0 65px;
}

.b-nebular{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 910px;
	background: url('../images/nebular.png') repeat-x;
	z-index: 1;
}


.b-stars{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 200%;
	background: url('../images/stars-big.png') repeat;
	z-index: 2;

}

.b-header-mobile{
	display: none;
}

///


/// Второй блок

.b-second-box{
	padding: 110px 0 80px;
	width: 100%;
	min-width: 1170px;
	position: relative;
	background: #fff;
	overflow: hidden;
	border-bottom: 1px solid #d5d4d4;
	z-index: 5;

}

.b-block-left{
	height: 100%;
	float: left;
	width: 440px;
}

.b-block-right{
	height: 100%;
	width: 730px;
	float: right;
}

.b-switch{
	display: block;
	padding: 0;
	&__item{
		display: inline-block;
		font-size: 30px;
		padding-bottom: 23px;
		color: #9c9c9c;
		margin-right: 122px;
		font-weight: 700;
		position: relative;
		cursor: pointer;
		&:after{
			content: "";
			display: block;
			position: absolute;
			right: -15px;
			background: url('../images/switch.png') no-repeat;

		}
		&.active{
			color: #000;
			border-bottom: 4px solid #1e1e1e;
			cursor: default;
		}
		&_1{
			&:after{
				background-position: -2px -42px;
				width: 17px;
				height: 25px; 
				top: -17px;
			}
			
		}
		&_2{
			&:after{
				background-position: -2px -23px;
				width: 18px;
				height: 17px;
				top: -11px;
			}
			
		}
		&_3{
			margin-right: 0;
			&:after{
				background-position: -2px -0px;
				width: 22px;
				height: 21px;
				top: -13px;
				right: -25px;
			}
		}
	}
}

.b-title-blue{
	color: #405f80;
	font-size: 18px;
	line-height: 16px;
	display: block;
	margin: 70px 0 16px 0;
	text-transform: uppercase;
	font-weight: 700;
	&_mt0{
		margin-top: 0;
	}
	&_noUp{
		text-transform: none;
	}
	&_mb5{
		margin-bottom: 5px;
	}
	&_mt50{
		margin-top: 50px;
	}
	&_mt44{
		margin-top: 44px;
	}
	&_mt32{
		margin-top: 32px;
	}
}

.b-benefits{
	margin-top: 25px;
	&__item{
		width: 215px;
		padding: 0 0 0 50px;
		margin: 0 140px 0 0;
		display: inline-block;
		position: relative;

		&:nth-child(2n){
			margin-right: 0;
		}
		&:after{
			content: "";
			display: block;
			background: url('../images/planet.png') no-repeat;
			width: 28px;
			height: 23px;
			top: 20px;
			left: 0;
			position: absolute;
		}
	}
}

.b-hr_grey{
	display: block;
	width: 100%;
	height: 2px;
	background: #ebebeb;
	margin: 65px 0 25px;
}

.b-price{
	color: #405f80;
	font-size: 30px;
	font-weight: 700;
}

.b-material-info{
	display: none;
	&.active{
		display: block;
	}
}
///


/// Третий блок

.b-third-box{
	background: #f6f6f5;
	padding: 96px 0 66px;
}

.b-history__title{
	font: 700 30px 'Noto Sans', sans-serif;
	color: #000;
	display: block;
	margin-bottom: 77px;
}

.b-history-part{
	
	&_left{
		width: 515px;
		float: left;
	}
	&_right{
		padding-top: 4px;
		width: 394px;
		float: right;
	}
}

.b-text_small{
	font-size: 13px;
}

.b-citata{
	font: 400 italic 13px/24px 'Noto Sans', sans-serif;
	display: block;
	margin-top: 10px;
}

.b-link-more{
	color: #888;
	display: inline-block;
	border-bottom: 1px solid;
	text-decoration: none;
	text-transform: uppercase;
	font: 400 10px/18px 'Noto Sans', sans-serif;
	&:hover{
		text-decoration: none;
		border-bottom: 0;
	}
}

.b-history{
	width: 100%;
	overflow: hidden;
	&-box{
		width: 10000px;
		position: relative;
	}
	&__item{
		float: left;
		width: 980px;
		margin: 0 90px;
	}
	&__btn{
		display: block;
		position: absolute;
		cursor: pointer;
		top: 50%;
		background: url('../images/arrows.png') no-repeat;
		width: 41px;
		height: 75px;
		&_prev{
			left: 0;
			background-position: -45px -0px;
			&:hover{
				background-position: -2px -0px;
			}
		}
		&_next{
			right: 0;
			background-position: -45px -77px;
			&:hover{
				background-position: -2px -77px;
			}
		}
	}
}

.b-history__btn_mobile{
	display: none;
}
////

/// Четвертый блок

.b-fourth-box{
	background: url('../images/coffe.jpg') repeat top center;
	padding: 120px 0 216px;
	text-align: center;
	color: #fff;
	width: 100%;
	min-width: 1170px;
	& .b-h1{
		color: #fff;
		margin-bottom: 85px;
	}
}

.b-float-paragraf{
	line-height: 32px;
	margin: 0 0 75px;
	text-align: left;
	&_left{
		float: left;
		width: 530px;
	}
	&_right{
		float: right;
		width: 560px;
	}
}
///


/// modal 

.b-form-modal{
	display: block;
	width: 615px;
	text-align: center;
	&__title{
		display: block;
		text-align: center;
		color: #5f6fae;
		font: 700 30px 'Noto Sans', sans-serif;
		margin-bottom: 45px;
	}
}

.b-form{
	text-align: left;
	margin-bottom: 35px;
	&__left{
		float: left;
		width: 290px;
	}
	&__right{
		float: right;
		width: 290px;
		margin-bottom: 50px;
	}
	&__item{
		width: 100%;
		margin: 0 0 25px;
		&>label{
			display: block;
			font: 700 14px 'Noto Sans', sans-serif;
			text-transform: uppercase;
			margin-bottom: 5px;
		}
		&>input,
		&>textarea{
			display: block;
			padding: 15px;
			width: 100%;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
			background: #fff;
			border: 1px solid #a8a8a8;
			font: 400 14px 'Noto Sans', sans-serif;
			&.error{
				border-color: red;
			}
		}
		&>textarea{
			height: 250px;
			max-height: 250px;
			max-width: 290px;
		}
		.error{
			color: red;
			font-size: 13px;
			text-transform: none;
			font-weight: 400;
		}
	}
}

.fancybox-skin{
	padding: 15px 35px !important;
}

.fancybox-close{
	background: url('../images/close-popup.png') no-repeat;
	width: 53px;
	height: 54px;
	top: -26px;
	right: -26px;
}


///


.b-margin_b50{
	margin-bottom: 50px;
}

.b-margin_b0{
	margin-bottom: 0;
}

.b-footer-mobile{
	display: none;
}


@media screen and (max-height: 800px) {

	.b-first-box{
		padding: 50px 0;
		& .b-h1{
			font-size: 54px;
		}
		&__info{
			font: 700 22px/32px 'Noto Sans', sans-serif;
			margin: 0 auto 56px;
			max-width: 700px;
		}
	}

	.b-logo{
		margin: 0 0 47px;
	}

	.b-hr_small{
		margin: 49px 0 35px;
	}

}

@media screen and (max-width: 480px) {
	body,
	html{
		font: 400 13px/23px 'Noto Sans', sans-serif;
		
	}

	.b-h1{
		font: 700 24px/26px 'Noto Sans', sans-serif;
	}
	.b-wrapper{
		min-width: 320px;
		overflow-x: hidden;
	}
	.b-first-box{
		& .b-h1{
			font-size: 24px;
		}
	}
	.b-container{
		width: 85.9%;
	}

	.b-header{
		display: none;
	}
	.b-first-box{
		padding: 8px 0 30px;
		min-width: 320px;
		min-height: 300px;
		&__info{
			font: 400 13px/23px 'Noto Sans', sans-serif;
			margin-bottom: 30px;
		}
	}

	.b-logo{
		display: inline-block;
		width: 90px;
		height: 33px;
		background: url('../images/logo-small.png') no-repeat;
		margin: 0 0 15px;
	}

	.b-hr_small{
		width: 90px;
		margin: 25px 0 15px;
	}
	.b-second-box{
		padding: 30px 0;
		min-width: 320px;

	}

	.b-block-left,
	.b-block-right{
		height: auto;
		float: none;
		width: 100%;
	}

	.b-switch{
		margin-top: 50px;
		&__item{
			display: inline-block;
			font-size: 15px;
			padding-bottom: 0;
			margin-right: 25px;
			&:after{
				content: "";
				display: block;
				position: absolute;
				right: 50%;
				margin-right: -10px;

			}
			&.active{
				color: #000;
				border-bottom: 3px solid #1e1e1e;
				cursor: default;
			}
			&_1{
				&:after{
					top: -30px
				}
				
			}
			&_2{
				&:after{
					top: -25px;
				}
				
			}
			&_3{
				margin-right: 0;
				&:after{
					top: -25px;
				}
			}
		}
	}

	.b-title-blue{
		font-size: 13px;
		line-height: 11px;
		margin: 30px 0 23px 0;

	}

	.b-benefits{
		&__item{
			width: 100%;
			padding: 0 0 0 30px;
			margin: 0 0 17px 0;
			display: block;
			box-sizing:border-box;
			&:after{
				background: url('../images/planet-small.png') no-repeat;
				width: 19px;
				height: 15px;
				top: 6px;
			}
		}
	}

	.b-hr_grey{
		margin: 25px 0;
	}

	.b-price{
		font-size: 15px;
	}
	.b-third-box{
		padding: 25px 0;
		min-width: 320px;
		& .b-h1{
			font-size: 30px;
		}
	}

	.b-history__title{
		font-size: 15px;
		margin-bottom: 0;
	}

	.b-history-part{	
		&_left,
		&_right{
			width: 100%;
			float: none;
		}
	}

	.b-history{
		&__item{
			width: 320px;
			margin: 0 50px 0 0;
			float: none;
			display: none;
			&.active{
				display: block;
			}
		}
		&__btn{
			display: none;
		}
	}
	.b-fourth-box{
		padding: 25px 0;
		min-width: 320px;
		& .b-h1{
			margin-bottom: 25px;
		}
	}

	.b-float-paragraf{
		line-height: 23px;
		margin: 0;
		&_left,
		&_right{
			float: none;
			width: 100%;
		}
	}
	.b-btn_big{
		padding: 10px 20px;
		font-size: 13px;
		margin-top: 10px;
	}
	.b-history__btn_mobile{
		position: absolute;
		top: 67px;
		left: 0;
		display: block;
		width: 100%;
		height: 13px;
		text-align: center;
		z-index: 10;
		&__one{
			display: inline-block;
			width: 13px;
			height: 13px;
			background: #d5d4d4;
			border-radius: 45px;
			cursor: pointer;
			margin-right: 15px;
			&.active{
				background: #949494;
			}
		}
	}
	.b-footer-mobile{
		display: block;
		width: 100%;
		min-width: 320px;
		background: #fff;
		height: 55px;
		color: #a4a4a4;
		font: 700 14px/14px 'Noto Sans', sans-serif;
		&__tel{
			display: block;
			float: left;
			margin-top: 23px;
		}
		&__social{
			display: block;
			float: right;
			margin-top: 16px;
			&__item{
				display: inline-block;
				margin: 0 5px 0 0;
				width: 25px;
				height: 15px;
				padding: 5px 0;
				border-radius: 45px;
				background: #a4a4a4;
				color: #fff;
				font: 700 15px/15px 'Noto Sans', sans-serif;
				text-decoration: none;
				text-align: center;
				cursor: pointer;
				vertical-align: top;
				&_t{
					background: url('../images/twitter-white-xs.png') no-repeat center #a4a4a4;
				}
				
			}
			
		}
	}
	.b-header-mobile{
		display: block;
		width: 230px;
		right: -230px;
		padding: 0 0 15px;
		height: 100%;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		position: absolute;
		top: 0;
		background: #6f7fbf;
		color: #fff;
		z-index: 20;
		text-align: left;
		-webkit-transition: right .25s ease;
		   -moz-transition: right .25s ease;
		        transition: right .25s ease;
		&__link{
			position: absolute;
			display: block;
			width: 45px;
			height: 45px;
			top: 0;
			left: -45px;
			cursor: pointer;
			background: url('../images/menu-mobile.jpg') no-repeat #5f6fae center;
		}
		&__tel{
			display: block;
			padding-left: 30px;
			font: 700 13px/13px 'Noto Sans', sans-serif;
			margin-bottom: 25px;
		}
		&.active{
			right: 0;
		}

	}
	.b-menu-mobile{
		display: block;
		margin-bottom: 70px;
		&__item{
			display: block;
			padding: 10px 30px;
			font: 700 13px/13px 'Noto Sans', sans-serif;
			text-transform: uppercase;
			cursor: pointer;
			text-decoration: none;
			color: #fff;
			&:hover{
				background: #5f6fae;
			}
		}
	}
	.b-social_mobile{
		display: block;
		margin-bottom: 25px;
		padding-left: 30px;
		&__item{
			display: inline-block;
			width: 35px;
			height: 17px;
			border-radius: 45px;
			background: #fff;
			cursor: pointer;
			opacity: 0.8;
			color: #000;
			text-decoration: none;
			text-align: center;
			padding: 9px 0;
			font: 700 17px/17px 'Noto Sans', sans-serif;
			margin: 0 5px 0 0;
			vertical-align: top;
			&:hover{
				opacity: 1;
			}
			&_t{
				background: url('../images/twitter-black-xs.png') no-repeat center #fff;
			}
		}
	}
	.b-btn-blog_mobile{
		margin: 0 0 0 30px;
		padding: 13px 23px;
		background: #fff;
		color: #000;

	}
	.b-form-modal{
		width: 100%;
		text-align: center;
		&__title{
			margin-bottom: 20px;
			font-size: 24px;
		}
	}

	.b-form{
		text-align: left;
		margin-bottom: 35px;
		&__left{
			float: none;
			width: 95%;
		}
		&__right{
			float: none;
			width: 100%;
			margin-bottom: 20px;
		}
		&__item{
			width: 100%;
			margin: 0 0 15px;
			&>input,
			&>textarea{
				padding: 7px;
				width: 100%;
			}
			&>textarea{
				height: 70px;
				max-height: 70px;
				max-width: 100%;
			}
		}
	}

}

