@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700&subset=latin,cyrillic);  //font-family: 'Open Sans', sans-serif;

body,
html{
	margin: 0;
	padding: 0;
	font: 400 15px/24px 'Open Sans', sans-serif;
	color: #888;
}

.b-clear {
  clear: both;
}
.b-clear:before,
.b-clear:after {
  content: '';
  display: table;
}
.b-clear:after {
  clear: both;
}

.b-h1{
	 font: 700 72px/72px 'Open Sans', sans-serif;
	 color: #07080a;
	 margin: 0;
	 &_lh{
	 	line-height: 84px;
	 	max-width: 300px;
	 }
}


.b-title-uppercase{
	text-transform: uppercase;
	color: #000;
	font-size: 18px;

}

.b-text_center{
	text-align: center;
}

ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

.b-wrapper{
	position: relative;
	width: 100%;
}

.b-container{
	width: 1170px;
	margin: 0 auto;
	position: relative;
	z-index: 3;
}

.b-btn{
	display: inline-block;
	border: 4px solid #fff;
	padding: 10px 40px;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font: 700 14px/14px 'Open Sans', sans-serif;
	&_big{
		padding: 20px 32px;
		font-size: 18px;

	}
}

.b-float{
	&_right{
		float: right;
	}
	&_left{
		float: left;
	}
}

// Фиксированная шапка 

.b-header{
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	background: #fff;
	height: 84px;
	z-index: 5;
	border-top: 1px solid #d5d4d4;
}

.b-menu{
	float: left;
	margin: 35px 0 0;
	padding: 0;
	&__item{
		display: inline-block;
		vertical-align: top;
		margin: 0 50px 0 0;
		&>a{
			text-decoration: none;
			color: #000;
			text-transform: uppercase;
		}
		&.active{
			&>a{
				font-weight: 700;
			}
			&:hover{
				&>a{
					text-decoration: none;
				}
			}
		}
		&:hover{
			&>a{
				text-decoration: underline;
			}
		}
	}
}

.b-telephone{
	float: left;
	display: block;
	color: #000;
	font-size: 18px;
	font-weight: 700;
	margin: 33px 0 0;
}

.b-social{
	display: block;
	float: left;
	margin: 20px 0 0 50px;
	&__icon{
		display: inline-block;
		vertical-align: top;
		width: 39px;
		height: 39px;
		border-radius: 45px;
		background-color: #030608;
		text-align: center;
		line-height: 39px;
		font-size: 21px;
		font-weight: 700;
		color: #fff;
		text-decoration: none;
		border: 3px solid #030608;
		&:hover{
			background-color: #fff;
			color: #000;
		} 
		&_t{
			background: #000 url('../images/twitter-white-s.png') no-repeat center;
			&:hover{
				background-image: url('../images/twitter-black-s.png');
			}
		}
	}
}

.b-btn-blog{
	background: #1e1e1e;
	display: block;
	padding: 17px 37px;
	color: #fff;
	text-transform: uppercase;
	font-size: 14px;
	line-height: 14px;
	float: left;
	border-radius: 45px;
	text-decoration: none;
	font-weight: bold;
	margin: 18px 0 0 45px;
}

.b-news{
	display: none;
	position: absolute;
	top: -85px;
	right: 0;
	width: 370px;
	height: 20px;
	padding: 5px 95px 14px 15px;
	border: 1px solid #d5d4d4;
	border-bottom: 5px solid #efc75e;
	background: #fff;
	&:after{
		content: "";
		display: block;
		position: absolute;
		bottom: -17px;
		right: 40px;
		width: 27px;
		height: 13px;
		background: url('../images/triangle.png')no-repeat;
	}
	&__close{
		display: block;
		position: absolute;
		right: 10px;
		top: 10px;
		background: url('../images/close.png') no-repeat;
		width: 19px;
		height: 18px;
		cursor: pointer;
	}
	&__title{
		display: inline-block;
		margin-left: 15px;
		color: #1e1e1e;
		line-height: 17px;
		text-decoration: none;
		border-bottom: 1px solid transparent;
		&:hover{
			border-bottom-color: #1e1e1e;
		}
	}
	&.active{
		display: block;
	}

}

///

// Первый блок

.b-first-box{
	width: 100%;
	padding: 90px 0 0;
	background: url('../images/fone-stars.jpg') #1e1e1e;
	color: #fff; 
	text-align: center;
	position: relative;
	z-index: 0;
	& .b-h1{
		color: #fff;
	}
	&__info{
		font: 700 28px/38px 'Open Sans', sans-serif;
		margin: 0 auto 80px;
		max-width: 850px;
	}
}

.b-logo{
	display: inline-block;
	width: 268px;
	height: 103px;
	background: url('../images/logo.png') no-repeat;
	margin: 0 0 85px;
}

.b-hr_small{
	display: inline-block;
	height: 5px;
	width: 150px;
	background: #fff;
	margin: 85px 0 65px;
}

.b-nebular{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 910px;
	background: url('../images/nebular.png') repeat-x;
	z-index: 1;
}


.b-stars{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url('../images/stars-big.png') repeat;
	z-index: 2;
}

///


/// Второй блок

.b-second-box{
	padding: 110px 0;
	width: 100%;
	position: relative;
	background: #fff;
	overflow: hidden;
	border-bottom: 1px solid #d5d4d4;
}

.b-block-left{
	height: 100%;
	float: left;
	width: 435px;
}

.b-block-right{
	height: 100%;
	width: 735px;
	float: right;
}

.b-switch{
	display: block;
	padding: 0;
	&__item{
		display: inline-block;
		font-size: 30px;
		padding-bottom: 15px;
		color: #9c9c9c;
		margin-right: 133px;
		font-weight: 700;
		position: relative;
		cursor: pointer;
		&:after{
			content: "";
			display: block;
			position: absolute;
			top: -15px;
			right: -25px;
			background: url('../images/switch.png') no-repeat;

		}
		&.active{
			color: #000;
			border-bottom: 3px solid #1e1e1e;
			cursor: default;
		}
		&_1{
			&:after{
				background-position: -2px -42px;
				width: 17px;
				height: 25px; 
			}
			
		}
		&_2{
			&:after{
				background-position: -2px -23px;
				width: 18px;
				height: 17px;
			}
			
		}
		&_3{
			margin-right: 0;
			&:after{
				background-position: -2px -0px;
				width: 22px;
				height: 21px;
			}
		}
	}
}

.b-title-blue{
	color: #405f80;
	font-size: 18px;
	line-height: 16px;
	display: block;
	margin: 70px 0 23px 0;
	text-transform: uppercase;
	font-weight: 700;
	&_mt0{
		margin-top: 0;
	}
	&_noUp{
		text-transform: none;
	}
	&_mb5{
		margin-bottom: 5px;
	}
}

.b-benefits{
	&__item{
		width: 215px;
		padding: 0 0 0 50px;
		margin: 0 140px 40px 0;
		display: inline-block;
		position: relative;

		&:nth-child(2n){
			margin-right: 0;
		}
		&:after{
			content: "";
			display: block;
			background: url('../images/planet.png') no-repeat;
			width: 28px;
			height: 23px;
			top: 20px;
			left: 0;
			position: absolute;
		}
	}
}

.b-hr_grey{
	display: block;
	width: 100%;
	height: 2px;
	background: #ebebeb;
	margin: 65px 0 25px;
}

.b-price{
	color: #405f80;
	font-size: 30px;
	font-weight: 700;
}

.b-material-info{
	display: none;
	&.active{
		display: block;
	}
}
///


/// Третий блок

.b-third-box{
	background: #f6f6f5;
	padding: 100px 0;
}

.b-history__title{
	font: 700 30px 'Open Sans', sans-serif;
	color: #000;
	display: block;
	margin-bottom: 80px;
}

.b-history-part{
	
	&_left{
		width: 515px;
		float: left;
	}
	&_right{
		width: 400px;
		float: right;
	}
}

.b-text_small{
	font-size: 13px;
}

.b-citata{
	font: 400 italic 13px/24px 'Open Sans', sans-serif;
}

.b-link-more{
	color: #888;
	display: inline-block;
	border-bottom: 1px solid;
	text-decoration: none;
	text-transform: uppercase;
	font: 400 10px/18px 'Open Sans', sans-serif;
	&:hover{
		text-decoration: none;
		border-bottom: 0;
	}
}

.b-history{
	width: 100%;
	overflow: hidden;
	&-box{
		width: 10000px;
		position: relative;
	}
	&__item{
		float: left;
		width: 980px;
		margin: 0 90px;
	}
	&__btn{
		display: block;
		position: absolute;
		cursor: pointer;
		top: 50%;
		background: url('../images/arrows.png') no-repeat;
		width: 41px;
		height: 75px;
		&_prev{
			left: 0;
			background-position: -45px -0px;
			&:hover{
				background-position: -2px -0px;
			}
		}
		&_next{
			right: 0;
			background-position: -45px -77px;
			&:hover{
				background-position: -2px -77px;
			}
		}
	}
}
////

/// Четвертый блок

.b-fourth-box{
	background: url('../images/coffe.png') repeat top center;
	padding: 125px 0 190px;
	text-align: center;
	color: #fff;
	& .b-h1{
		color: #fff;
		margin-bottom: 85px;
	}
}

.b-float-paragraf{
	line-height: 32px;
	margin: 0 0 100px;
	text-align: left;
	&_left{
		float: left;
		width: 530px;
	}
	&_right{
		float: right;
		width: 560px;
	}
}
///

.b-margin_b50{
	margin-bottom: 50px;
}



@media screen and (max-width: 480px) {
	body,
	html{
		font: 400 13px/23px 'Open Sans', sans-serif;
	}

	.b-h1{
		font: 700 24px/26px 'Open Sans', sans-serif;
	}

	.b-container{
		width: 85.9%;
	}

	.b-header{
		display: none;
	}
	.b-first-box{
		padding: 8px 0 30px;
		&__info{
			font: 400 13px/23px 'Open Sans', sans-serif;
			margin-bottom: 30px;
		}
	}

	.b-logo{
		display: inline-block;
		width: 90px;
		height: 33px;
		background: url('../images/logo-small.png') no-repeat;
		margin: 0 0 15px;
	}

	.b-hr_small{
		width: 90px;
		margin: 25px 0 15px;
	}
	.b-second-box{
		padding: 30px 0;
	}

	.b-block-left,
	.b-block-right{
		height: auto;
		float: none;
		width: 100%;
	}

	.b-switch{
		margin-top: 50px;
		&__item{
			display: inline-block;
			font-size: 15px;
			padding-bottom: 0;
			margin-right: 33px;
			&:after{
				content: "";
				display: block;
				position: absolute;
				right: 50%;
				margin-right: -10px;

			}
			&.active{
				color: #000;
				border-bottom: 3px solid #1e1e1e;
				cursor: default;
			}
			&_1{
				&:after{
					top: -30px
				}
				
			}
			&_2{
				&:after{
					top: -25px;
				}
				
			}
			&_3{
				margin-right: 0;
				&:after{
					top: -25px;
				}
			}
		}
	}

	.b-title-blue{
		font-size: 13px;
		line-height: 11px;
		margin: 30px 0 23px 0;
	}

	.b-benefits{
		&__item{
			width: 100%;
			padding: 0 0 0 30px;
			margin: 0 0 17px 0;
			display: block;
			box-sizing:border-box;
			&:after{
				background: url('../images/planet-small.png') no-repeat;
				width: 19px;
				height: 15px;
				top: 6px;
			}
		}
	}

	.b-hr_grey{
		margin: 25px 0;
	}

	.b-price{
		font-size: 15px;
	}

}